* {
    margin: 0px;
    padding: 0px;
    font-size: 22px;
    font-family: Century Gothic, CenturyGothic, AppleGothic, sans-serif;
    color: black;
    text-align: center;
}

body {
    min-width: 800px;
}

.navigation {
    background-color: white;
    position: fixed;
    padding: 5px 20px;
    width: 100%;
    z-index: 100;
}

.navigation nav ul li {
    display: inline;
    float: left;
    padding: 10px 15px;
    margin: 7px 20px 0px 0px;
    border-radius: 5px;
}

.navigation nav ul li:first-child {
    padding: 5px;
    margin: 0px 30px 0px 0px;
}

.navigation nav ul li:hover {
    background-color: #eaf2ff;
}

.navigation nav ul li a img {
    vertical-align: top;
}

.navigation nav ul li a {
    text-decoration: none;
}

a.anchor {
    display: block;
    position: relative;
    top: -148px;
    visibility: hidden;
}

.pushdown {
    height: 70px;
}

.logo_image {
    vertical-align: top;
    margin-top: 30px;
}

h1 {
    padding: 30px 0px 0px 0px;
    font-size: 40px;
    font-weight: normal;
}

article {
    background: white;
    padding: 0px 0px 30px 0px;
}

p {
    padding: 20px 10% 0px 10%;
}

.timeline_chart {
    min-width: 750px;
    width: 75%;
    margin: 20px auto 0px auto;
}

.button {
    border-radius: 10px;
    padding: 10px 40px;
    background-color: white;
    display: inline-block;
    text-decoration: none;
    margin: 10px 0px 0px 0px;
}

.list_item {
    width: 75%;
    min-width: 750px;
    margin: 30px auto 0px auto;
}

.list_item h3 {
    text-align: left;
}

.list_item p {
    text-align: left;
    padding: 0px;
    margin: 10px 0px 0px 0px;
}

.horizontal_list_item {
    display: inline-block;
    padding: 20px 20px 0px 20px;
    margin: 0px;
}

.horizontal_list_item p {
    margin: 0px;
    padding: 0px;
}

/* Home page */
#logo {
    background-color: #A1EDA1;
}

#timeline {
    background-color: #A1EDCE;
}

#assessment {
    background-color: #A1EDED;
}

#team {
    background-color: #A1CAED;
}

/* Agile */
#scrum {
    background-color: #A1EDA1;
}

#secretary {
    background-color: #A1EDCE;
}

#product {
    background-color: #A1EDED;
}

#librarian {
    background-color: #A1CAED;
}

#report {
    background-color: #ABA1ED;
}

#risk {
    background-color: #D1A1ED;
}

#lead-dev {
	background-color: #EDA1EC;
}

#dev-pair {
	background-color: #EDA1C4;
}

/* Assessment 1 */
#download {
    background-color: #A1EDA1;
}

#requirements {
    background-color: #A1EDCE;
}

#architecture {
    background-color: #A1EDED;
}

#method {
    background-color: #A1CAED;
}

#risks {
    background-color: #ABA1ED;
}

/* Assessment 2 */
#download2 {
    background-color: #A1EDA1;
}

#c_architecture {
    background-color: #A1EDCE;
}

#implementation {
    background-color: #A1EDED;
}

#gui {
    background-color: #A1CAED;
}

#testing {
    background-color: #ABA1ED;
}

#updates {
    background-color: #D1A1ED;
}

/*Assessment 3 Plan */
#timeline2 {
	background-color: #A1EDA1
}

#backlog {
	background-color: #A1EDCE;
}